.container {
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.items-center {
    align-items: center;
}
.items-start {
    align-items: start;
}
.flex-col {
    flex-direction: column;
}
.text-center {
    text-align: center;
}
.img-cover {
    object-fit: cover;
}
.img-contain {
    object-fit: contain;
}
.flex-1 {
    flex-grow: 1;
}
.title {
    margin-bottom: 64px;
    & > div {
        position: relative;
    }

    & h3 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 600;
        color: #333;
    }
    & a {
        color: #333;
        font-size: 24px;
        line-height: 36px;
    }
    & label {
        background-color: var(--colorPrimary);
        border-radius: 99px;
        padding: 0 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        color: #fff;
        font-size: 18px;
        line-height: 27px;
        position: relative;
        cursor: pointer;

        

        & i {
            margin-right: 5px;
            transition: all ease 0.4s;
        }
    }
}
.overflow-h {
    overflow: auto;
}